<div class="container">
    <div class="login_form">
        <div *ngIf="submitting" class="loadingProgress">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div class="sm_title">Connexion</div>
        <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
            <div class="form_group">
                <div class="text">Adress email</div>
                <input class="input" type="text" formControlName="email" placeholder="email" required />
                <!-- email errors  -->
                <ng-container *ngIf="(fg['email'].errors && (fg['email'].dirty || fg['email'].touched))">
                    <div [hidden]="!fg['email'].errors['required']" class="text text_danger ">Adress email requis</div>
                    <div [hidden]="!fg['email'].errors['email']" class="text text_danger ">
                        Veuillez entrer une adresse e-mail valide
                    </div>
                </ng-container>
            </div>
            <div class="form_group">
                <div class="text">Mot de passe</div>
                <input class="input" type="password" formControlName="password" placeholder="password" required />
            </div>
            <div class="forgot">
                <a class="link underline" routerLink="/login">Mot de pase oublié?</a>
            </div>
            <div class="actions">
                <button [disabled]="!loginForm.valid && !submitting" class="btn_primary" type="submit">
                    Se connecter
                </button>
            </div>
            <!-- Errors -->
            <ng-container [ngSwitch]="loginError">
                <div *ngSwitchCase="API_LOGIN_ERROR.USER_NOT_FOUND" class="text text_center text_danger">
                    Identifiant et/ou mot de passe incorrect
                </div>
            </ng-container>
        </form>
    </div>
    <a class="link underline" routerLink="/register">Créer un compte</a>
</div>
