<p>kanban works!</p>
<div class="kanban-root">
    <div class="board">
        <div class="board-wrapper">
            <div class="board-columns">

                <div cdkDropList cdkDropListOrientation="horizontal" class="board-columns"
                    (cdkDropListDropped)="dropGrid($event)">
                    <div cdkDragLockAxis="x" class="board-column" *ngFor="let column of board.columns" cdkDrag>
                        <div class="column-title" cdkDragHandle>
                            {{ column.name }}
                        </div>
                        <div class="tasks-container" id="{{column.id}}" [cdkDropListConnectedTo]="['21', '32']"
                            cdkDropList [cdkDropListData]="column.tasks" (cdkDropListDropped)="drop($event)">
                            <div class="task" *ngFor="let item of column.tasks" cdkDrag>
                                {{ item }}
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>