<p>kanban works!</p>
<div class="kanban-root">
    <div class="board">
        <div class="board-wrapper custom-scrollbar">
            <div class="board-columns">
                <div cdkDropList cdkDropListOrientation="horizontal" class="board-columns"
                    (cdkDropListDropped)="dropGrid($event)">
                    <div cdkDragLockAxis="x" class="board-column" *ngFor="let column of board.columns" cdkDrag>
                        <div class="column-title" cdkDragHandle>
                            {{ column.name }}
                        </div>
                        <div class="tasks-container custom-scrollbar" id="{{column.id}}" [cdkDropListConnectedTo]="['0', '1', '2', '3']"
                            cdkDropList [cdkDropListData]="column.tasks" (cdkDropListDropped)="drop($event)">
                            <div class="task" *ngFor="let item of column.tasks" cdkDrag>
                                {{ item.name + " " + item.id }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>